<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.getRenderer>
        <processor type="Sitecore.ControllerLayout.Mvc.Pipelines.Response.GetRenderer.GetLayoutRenderer, Sitecore.ControllerLayout" patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetRenderer.GetViewRenderer, Sitecore.Mvc']">
          <param desc="templateId" ref="settings/setting[@name='Sitecore.ControllerLayout.TemplateId']/@value" />
        </processor>
      </mvc.getRenderer>
    </pipelines>
    <settings>
      <setting name="Sitecore.ControllerLayout.TemplateId" value="{DDB8AFDE-416E-49AD-B22D-A27F65812E27}" />
    </settings>
  </sitecore>
</configuration>